{# Page for form connexion #}

{% extends 'base.html.twig' %}

{% block title %}Page Connexion{% endblock %}

{% block body %}
<style>
    h1 {
        margin-bottom: 50px;
    }

    .btn{
        background-color:#65b868;
    }
</style>

<div class="general-div">

    {% if app.user %}
        <div class="mb-5">
            Vous êtes connecté en tant que  {{ app.user.userIdentifier }} 

            <form action="{{ path('app_logout') }}" method="post" style="display:inline;">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                <button type="submit" class="btn">Se déconnecter</button>
            </form>
        </div>
    {% endif %} 

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="mb-5">Connexion</h1>

        <div class="mb-5 container col-lg-3"> 
            <div class="row">
                <label for="inputUsername" class="mb-3">Nom</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-4" autocomplete="username" required autofocus>
                
                <label for="inputPassword" class="mb-3">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-5" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-5">
                    <label>
                        <input type="checkbox" name="_remember_me">Se souvenir de moi
                    </label>
                </div>
            </div>
                <button class="btn btn-lg" type="submit">Envoyer</button>
        </div>
    </form>
</div>
{% endblock %}
