{# Page home : the enter of the vlog website wih mp4 #}

{% extends 'base.html.twig' %}

{% block title %}My Vlog{% endblock %}

{% block body %}

{# find all the rest of css style on assets/styles/home.css #}
<style> 
    /* Parallaxe of Index home page (image/text) */
    /* in twig, we use asset : url("{{ asset('Index_Page/Img_USA/roadmapwestcoast.jpg') }}");  */
    /* in css, we can't : url('/Index_Page/Img_USA/roadmapwestcoast.jpg'); */
    .container-parallaxe {
        background-image: 
            linear-gradient(180deg, transparent 38%, black), /* linear gradient */
            linear-gradient(180deg, black 12%, rgba(13, 16, 25, 0) 72%), /* gradient with transparency */
            radial-gradient(circle farthest-corner at 50% 50%, rgba(6, 7, 10, 0), black 91%), /* radial gradient */
            url("{{ asset('Index_Page/Img_USA/roadmapwestcoast.jpg') }}"); /* background image */
        background-repeat: repeat, repeat, repeat, no-repeat;
        background-size: auto, auto, auto, cover;
        background-attachment: fixed; /* parallaxe effect*/
        /* transition: background-position 0.3s ease-in-out;  */
        transition: all 0.3s ease;
        min-height: 100vh;
        padding-top: 50px;
        padding-bottom: 50px;
        color: white;
    }
    </style>

    <div class="general-div2" id="cadre">
        <video autoplay muted loop src="{{ asset('Index_Page/usa_monument-valley.mp4') }}">
            <track src="{{ asset('Index_Page/subtitles-en.vtt') }}" kind="captions" srclang="en" label="English">
            <track src="{{ asset('Index_Page/subtitles-fr.vtt') }}" kind="captions" srclang="fr" label="Français">
        </video>
        <h1 class="first">Bienvenue sur My vlog !</h1>
        <img src="{{ asset('Index_Page/wave.svg') }}" class="img-fluid wave" alt="Image de vague">

        <div class="logos">
            <div class="logo_items">
                <img src="{{ asset('Index_Page/Logo_USA/antelope.png') }}" alt="image Antelope Canyon">
                <img src="{{ asset('Index_Page/Logo_USA/JoshuaTreeNP.png') }}" alt="image Joshua Tree">
                <img src="{{ asset('Index_Page/Logo_USA/Kings_Canyon.png') }}" alt="image Kings canyon">
                <img src="{{ asset('Index_Page/Logo_USA/arches.png') }}" alt="image Arches">
                <img src="{{ asset('Index_Page/Logo_USA/goldengate.png') }}" alt="image Golden Gate Bridge">
                <img src="{{ asset('Index_Page/Logo_USA/death-valley.png') }}" alt="image Death Valley">
                <img src="{{ asset('Index_Page/Logo_USA/GrandCanyon.png') }}" alt="image Grand Canyon">
                <img src="{{ asset('Index_Page/Logo_USA/lasvegas.png') }}" alt="image Las Vegas">
                <img src="{{ asset('Index_Page/Logo_USA/zion.png') }}" alt="image Zion">
                <img src="{{ asset('Index_Page/Logo_USA/valleyFire.jpg') }}" alt="image Valley of Fire">
                <img src="{{ asset('Index_Page/Logo_USA/route66.png') }}" alt="image Route 66">
                <img src="{{ asset('Index_Page/Logo_USA/petrifiedF.png') }}" alt="image Petrified forest">
                <img src="{{ asset('Index_Page/Logo_USA/yosemite.png') }}" alt="image Yosemite">
                <img src="{{ asset('Index_Page/Logo_USA/route1.png') }}" alt="image Route 1">
                <img src="{{ asset('Index_Page/Logo_USA/monument-valley-utah.png') }}" alt="image Monument Valley">
                <img src="{{ asset('Index_Page/Logo_USA/bodie.jpg') }}" alt="image Bodie">
                <img src="{{ asset('Index_Page/Logo_USA/canyonlands.png') }}" alt="image Canyonlands">
                <img src="{{ asset('Index_Page/Logo_USA/horseshoe-bend.png') }}" alt="image Horseshoe Bend">
                <img src="{{ asset('Index_Page/Logo_USA/meteorcrater.png') }}" alt="image Meteor Crater">
                <img src="{{ asset('Index_Page/Logo_USA/bryce.png') }}" alt="image Bryce Canyon">
                <img src="{{ asset('Index_Page/Logo_USA/flag-nevada.png') }}" alt="image drapeau Nevada">
                <img src="{{ asset('Index_Page/Logo_USA/flag-utah.png') }}" alt="image drapeau Utah">
                <img src="{{ asset('Index_Page/Logo_USA/flag-california.png') }}" alt="image drapeau California">
                <img src="{{ asset('Index_Page/Logo_USA/flag_arizona.png') }}" alt="image drapeau Arizona">
                <img src="{{ asset('Index_Page/Logo_USA/universal_studios_hollywood.png') }}" alt="image Universal Studio Hollywood">
            </div>
        </div>
    </div> 

    <h3 class="mb-5 text-center">Découvrez l'immensité des États-Unis à travers des vidéos captivantes et immersives !</h3>

    <div class="custom-container text-center mb-5">
        <div class="time-text mb-3">- Temps de vidéos présent sur le site -</div>
            <div class="cd-timer">
                <div class="cd-unit">
                    {# <div class="time day">100</div>
                    <span class="time-text">Days</span> #}
                </div>
                <div class="cd-unit">
                    <div class="time hour">{{ hours }}</div>
                    <span class="time-text">Heures</span>
                </div>
                <div class="cd-unit">
                    <div class="time minute">{{ minutes }}</div>
                    <span class="time-text">Minutes</span>
                </div>
                <div class="cd-unit">
                    <div class="time second">{{ seconds }}</div>
                    <span class="time-text">Secondes</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-parallaxe">
        <!-- Première ligne : Image à gauche, texte à droite -->
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md-6 mb-2">
                <a href="{{ asset('Index_Page/Img_USA/grand-canyon.jpg') }}" target="_blank">
                    <img src="{{ asset('Index_Page/Img_USA/grand-canyon.jpg') }}" loading="lazy" class="img-fluid rounded" alt="Image Grand Canyon">
                </a> 
            </div>
            <div class="col-12 col-md-6">
                <p class="title">Grand Canyon</p>
                <p>La première chose qui frappe lorsque l'on arrive au Grand Canyon, c'est le silence majestueux qui enveloppe cet 
                espace grandiose.</p>
                <p>Ce jour-là, il y avait pourtant beaucoup de monde, mais vu l'immensité du site, les seuls bruits que l'on pouvait 
                percevoir étaient les aigles en vol, le bruissement du vent léger et une personne qui écoutait de la musique indienne 
                locale. Ce moment suspendu invitait à la contemplation et au respect de cette merveille naturelle intemporelle, qui a 
                des millions d'années.</p>
            </div>
        </div>
        
        <!-- Deuxième ligne : Texte à gauche, image à droite -->
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md-6 order-md-2 mb-2">
                <a href="{{ asset('Index_Page/Img_USA/sequoia-mustang.jpg') }}" target="_blank">
                    <img src="{{ asset('Index_Page/Img_USA/sequoia-mustang.jpg') }}" loading="lazy" class="img-fluid rounded" alt="Image Séquoias Park">
                </a>
            </div>
            <div class="col-12 col-md-6">
                <p class="title">Parc national de Séquoia</p>
                <p>Ces arbres sont gigantesques et centenaires. Certains sont tombés et forment des tunnels où l'on peut passer à pied.
                Le tunnel-log, âgé de 2 000 ans, s'effondra en 1937. Plutôt que de le couper et de l'enlever de la route, les autorités 
                décidèrent de le sculpter en forme de tunnel pour permettre le passage des véhicules !</p>
                <p>Leurs racines impressionnantes, qui avec le temps se transforment en véritables œuvres d'art, offrent des photos 
                insolites et uniques.</p>
            </div>
        </div>
    </div>


    <div class ="container">
        <div class ="row d-flex justify-content-center mb-5">
            <div class ="col-12 col-sm-6 col-md-4 mb-3 text-center">
                <a href="{{ asset('Index_Page/Img_USA/daytonabeachcamaro.jpg') }}" target="_blank">
                    <img src="{{ asset('Index_Page/Img_USA/daytonabeachcamaro.jpg') }}" loading="lazy" class="img-fluid rounded mx-auto" alt="image Daytona Beach camaro">
                </a>
            </div>
            <div class ="col-12 col-sm-6 col-md-4 mb-3 text-center">
                <a href="{{ asset('Index_Page/Img_USA/angelslanding.jpg') }}" target="_blank">
                    <img src="{{ asset('Index_Page/Img_USA/angelslanding.jpg') }}" loading="lazy" class="img-fluid rounded mx-auto" alt="image Angels Landing">
                </a>
            </div>
            <div class ="col-12 col-sm-6 col-md-4 mb-3 text-center">
                <a href="{{ asset('Index_Page/Img_USA/horseshoebend.jpg') }}" target="_blank">
                    <img src="{{ asset('Index_Page/Img_USA/horseshoebend.jpg') }}" loading="lazy" class="img-fluid rounded mx-auto" alt="image Horseshoe Bend">
                </a>
            </div>
        </div>
    </div>


    <div class="container container-parallaxe">
        <!-- Première ligne : Image à gauche, texte à droite -->
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md-6 mb-2">
                <a href="{{ asset('Index_Page/Img_USA/san-francisco.jpg') }}" target="_blank">
                    <img src="{{ asset('Index_Page/Img_USA/san-francisco.jpg') }}" loading="lazy" class="img-fluid rounded" alt="image Golden Gate Bridge">
                </a>
            </div>
            <div class="col-12 col-md-6">
                <p class="title">Golden Gate Bridge</p>
                <p>À San Francisco, le Golden Gate Bridge est un emblème à la fois majestueux et tragique. Il est tristement célèbre 
                pour ses nombreux suicides, notamment en raison des 
                courants marins extrêmes qui se trouvent en dessous.</p> 
                <p>Non loin de là, on aperçoit l'île d'Alcatraz, un lieu chargé d'histoire. Bien qu'elle ne soit située qu'à 1,92 km 
                du port de San Francisco, les eaux glaciales et les courants puissants ont renforcé la réputation de cette prison 
                autrefois considérée comme inéluctable.</p>
            </div>
        </div>
        
        <!-- Deuxième ligne : Texte à gauche, image à droite -->
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md-6 order-md-2 mb-2">
                <a href="{{ asset('Index_Page/Img_USA/facebook.jpg') }}" target="_blank">
                    <img src="{{ asset('Index_Page/Img_USA/facebook.jpg') }}" loading="lazy" class="img-fluid rounded" alt="Image Facebook Silicon Valley">
                </a>
            </div>
            <div class="col-12 col-md-6">
                <p class="title">Silicon Valley</p>
                <p>La Silicon Valley incarne le rêve américain à travers l'innovation, la collaboration et l'ambition sans limite. 
                Devant le siège de Facebook, ici, les 
                entreprises sont géantes, Parmi elles, Apple Park se distingue avec son immense campus circulaire, surnommé "l'anneau", 
                où près de 12 000 employés collaborent pour façonner l'avenir de la technologie.</p>
                <p>Il y a environ 11 500 entreprises high-tech qui emploient 420 000 personnes et réalisent environ 100 
                milliards de dollars de chiffre d'affaires.</p>
            </div>
        </div>
    </div>
{% endblock %}
