{# Page home : the enter of the vlog website wih mp4 #}

{% extends 'base.html.twig' %}

{% block title %}My Vlog{% endblock %}

{% block body %}

{# find all css style on assets/styles/home.css #}
<style> </style>


    <div class="general-div2" id="cadre">
        <video autoplay muted loop src="{{ asset('Index_Page/usa_monument-valley.mp4') }}"></video>
        <h1 class="first">Bonjour et bienvenue !</h1>

        <div class="logos">
            <div class="logo_items">
                <img src="{{ asset('Index_Page/Logo_USA/antelope.png') }}" alt="image Antelope Canyon">
                <img src="{{ asset('Index_Page/Logo_USA/JoshuaTreeNP.png') }}" alt="image Joshua Tree">
                <img src="{{ asset('Index_Page/Logo_USA/Kings_Canyon.png') }}" alt="image Kings canyon">
                <img src="{{ asset('Index_Page/Logo_USA/arches.png') }}" alt="image Arches">
                <img src="{{ asset('Index_Page/Logo_USA/goldengate.png') }}" alt="image Golden Gate Bridge">
                <img src="{{ asset('Index_Page/Logo_USA/death-valley.png') }}" alt="image Death Valley">
                <img src="{{ asset('Index_Page/Logo_USA/GrandCanyon.png') }}" alt="image Grand Canyon">
                <img src="{{ asset('Index_Page/Logo_USA/lasvegas.png') }}" alt="image Las Vegas">
                <img src="{{ asset('Index_Page/Logo_USA/zion.png') }}" alt="image Zion">
                <img src="{{ asset('Index_Page/Logo_USA/valleyFire.jpg') }}" alt="image Valley of Fire">
                <img src="{{ asset('Index_Page/Logo_USA/route66.png') }}" alt="image Route 66">
                <img src="{{ asset('Index_Page/Logo_USA/petrifiedF.png') }}" alt="image Petrified forest">
                <img src="{{ asset('Index_Page/Logo_USA/yosemite.png') }}" alt="image Yosemite">
                <img src="{{ asset('Index_Page/Logo_USA/route1.png') }}" alt="image Route 1">
                <img src="{{ asset('Index_Page/Logo_USA/monument-valley-utah.png') }}" alt="image Monument Valley">
                <img src="{{ asset('Index_Page/Logo_USA/bodie.jpg') }}" alt="image Bodie">
                <img src="{{ asset('Index_Page/Logo_USA/canyonlands.png') }}" alt="image Canyonlands">
                <img src="{{ asset('Index_Page/Logo_USA/horseshoe-bend.png') }}" alt="image Horseshoe Bend">
                <img src="{{ asset('Index_Page/Logo_USA/meteorcrater.png') }}" alt="image Meteor Crater">
                <img src="{{ asset('Index_Page/Logo_USA/bryce.png') }}" alt="image Bryce Canyon">
                <img src="{{ asset('Index_Page/Logo_USA/flag-nevada.png') }}" alt="image drapeau Nevada">
                <img src="{{ asset('Index_Page/Logo_USA/flag-utah.png') }}" alt="image drapeau Utah">
                <img src="{{ asset('Index_Page/Logo_USA/flag-california.png') }}" alt="image drapeau California">
                <img src="{{ asset('Index_Page/Logo_USA/flag_arizona.png') }}" alt="image drapeau Arizona">
                <img src="{{ asset('Index_Page/Logo_USA/universal_studios_hollywood.png') }}" alt="image Universal Studio Hollywood">
            </div>
        </div>
    </div>

    <div class="custom-container text-center mb-5">
        <div class="time-text mb-3">- Temps de vidéos présent sur le site -</div>
            <div class="cd-timer">
                <div class="cd-unit">
                    {# <div class="time day">100</div>
                    <span class="time-text">Days</span> #}
                </div>
                <div class="cd-unit">
                    <div class="time hour">{{ hours }}</div>
                    <span class="time-text">Heures</span>
                </div>
                <div class="cd-unit">
                    <div class="time minute">{{ minutes }}</div>
                    <span class="time-text">Minutes</span>
                </div>
                <div class="cd-unit">
                    <div class="time second">{{ seconds }}</div>
                    <span class="time-text">Secondes</span>
                </div>
            </div>
        </div>

    <div class="container container-parallaxe">
        <!-- Première ligne : Image à gauche, texte à droite -->
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md-6 mb-2">
                <img src="{{ asset('Index_Page/Img_USA/grand-canyon.jpg') }}" class="img-fluid rounded" alt="Image Grand Canyon">
            </div>
            <div class="col-12 col-md-6">
                <p class="title">Grand Canyon</p>
                <p>La première chose qui frappe dans ce lieu, c'est le silence qui y règne.</p>
                <p>Ce jour-là, il y avait pourtant beaucoup de monde, mais vu l'immensité du lieu, la seule chose qu'on entend,
                 c'est les aigles qui chassent, le vent léger et une personne qui écoutait de la musique indienne locale.</p>
            </div>
        </div>
        
        <!-- Deuxième ligne : Texte à gauche, image à droite -->
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md-6 order-md-2 mb-2">
                <img src="{{ asset('Index_Page/Img_USA/sequoia-mustang.jpg') }}" class="img-fluid rounded" alt="Image Séquoias Park">
            </div>
            <div class="col-12 col-md-6">
                <p class="title">Parc national de Séquoia</p>
                <p>Ces arbres sont géants et centaires. Mais certains sont couchés et forment des tunnels pour les humains, 
                d'ailleurs celui-ci est pour la voiture !</p>
                <p>D'autres ont des racines géantes; et une fois le temps passé, cela devient une 
                véritable œuvre d'art.</p>
            </div>
        </div>
    </div>


    <div class ="container">
        <div class ="row d-flex justify-content-center mb-5">
            <div class ="col-12 col-sm-6 col-md-4 mb-3 text-center">
                    <img src="{{ asset('Index_Page/Img_USA/daytonabeachcamaro.jpg') }}" class="img-fluid rounded mx-auto" alt="image Daytona Beach camaro">
            </div>
            <div class ="col-12 col-sm-6 col-md-4 mb-3 text-center">
                    <img src="{{ asset('Index_Page/Img_USA/angelslanding.jpg') }}" class="img-fluid rounded mx-auto" alt="image Angels Landing">
            </div>
            <div class ="col-12 col-sm-6 col-md-4 mb-3 text-center">
                    <img src="{{ asset('Index_Page/Img_USA/horseshoebend.jpg') }}" class="img-fluid rounded mx-auto" alt="image Horseshoe Bend">
            </div>
        </div>
    </div>


    <div class="container container-parallaxe">
        <!-- Première ligne : Image à gauche, texte à droite -->
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md-6 mb-2">
                <img src="{{ asset('Index_Page/Img_USA/san-francisco.jpg') }}" class="img-fluid rounded" alt="image Golden Gate Bridge">
            </div>
            <div class="col-12 col-md-6">
                <p class="title">Golden Gate Bridge</p>
                <p>A San Francisco est tristement célèbre pour ses nombreux suicides, car les courants 
                marins situés en dessous sont extrêmes.</p>
                <p>C'est ce qui explique en partie pourquoi la prison d'Alcatraz est réputée pour son caractère imprenable et 
                son histoire fascinante.</p>
            </div>
        </div>
        
        <!-- Deuxième ligne : Texte à gauche, image à droite -->
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md-6 order-md-2 mb-2">
                <img src="{{ asset('Index_Page/Img_USA/facebook.jpg') }}" class="img-fluid rounded" alt="Image Facebook Silicon Valley">
            </div>
            <div class="col-12 col-md-6">
                <p class="title">Silicon Valley</p>
                <p>Devant le siège de Facebook. Ici, les entreprises sont géantes, comme Apple Park, 
                où 12 000 personnes travaillent.</p>
                <p>Il y a environ 11 500 entreprises high-tech qui emploient 420 000 personnes et réalisent environ 100 
                milliards de dollars de chiffre d'affaires.</p>
            </div>
        </div>
    </div>
{% endblock %}
