
 {# Navbar #}
    <nav class="navbar navbar-expand-lg" style="box-shadow: 0px 0px 20px #65b868;">
      <div class="container-fluid">
        <a class="navbar-brand ms-5 fs-2 text-white" href="{{ path ('home') }}"> 
          <img src="{{ asset('Index_Page/LOGO_myvlog.png') }}" width="80" height="auto" alt="My Vlog Logo">

        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5 mx-auto">


            {# Travel #}
            {# If navbar with dropdown toogle system : #}
            {# <li class="nav-item dropdown position-relative">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" 
              data-bs-toggle="dropdown" aria-expanded="false">Voyage</a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="position-relative">
                  <a class="dropdown-item" href="{{ path('location.index') }}">Tous les États-Unis</a>
                  <div class="dropdown-image">
                    <img src="{{ asset('Index_Page/map_usa_full.png') }}" alt="Tous les États-Unis" />
                  </div>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="position-relative">
                  <a class="dropdown-item" href="{{ path('location.west.index') }}">Côte-Ouest-USA</a>
                  <div class="dropdown-image">
                    <img src="{{ asset('Index_Page/map_usa_green_west_full.png') }}" alt="Côte-Ouest-USA" />
                  </div>
                </li>
                <li class="position-relative">
                  <a class="dropdown-item" href="{{ path('location.florida.index') }}">Floride-USA</a>
                  <div class="dropdown-image">
                    <img src="{{ asset('Index_Page/map_usa_green_east_full.png') }}" alt="Floride-USA" />
                  </div>
                </li>
              </ul>
            </li> #}


            {# If navbar with simple items without dropdown toogle system : #}
            <li class="nav-item position-relative">
              <a 
                  class="nav-link text-white {{ app.request.attributes.get('_route') == 'location.index' ? 'active' }}" 
                  href="{{ path('location.index') }}">Tous les États-Unis</a>
              <div class="dropdown-image">
                  <img src="{{ asset('Index_Page/map_usa_full.png') }}" alt="Tous les États-Unis" />
              </div>
            </li>

            <li class="nav-item position-relative">
              <a 
                  class="nav-link text-white {{ app.request.attributes.get('_route') == 'location.west.index' ? 'active' }}" 
                  href="{{ path('location.west.index') }}">Côte-Ouest</a>
              <div class="dropdown-image">
                  <img src="{{ asset('Index_Page/map_usa_green_west_full.png') }}" alt="Côte-Ouest-USA" />
              </div>
            </li>

            <li class="nav-item position-relative">
              <a 
                  class="nav-link text-white {{ app.request.attributes.get('_route') == 'location.florida.index' ? 'active' }}" 
                  href="{{ path('location.florida.index') }}">Côte-Est</a>
              <div class="dropdown-image">
                  <img src="{{ asset('Index_Page/map_usa_green_east_full.png') }}" alt="Côte-Est-USA" />
              </div>
            </li>


            {# here for the future page of RoadBook TODO #}

            {# here for the future page of Motor sport TODO #}

            {# here for the future page of WW2 TODO #}
          
            <li class="nav-item"> 
            {# Contact Form #}
                <a class="nav-link text-white {{app.current_route == 'app_contact' ? 'active'}}" href="{{ path ('app_contact') }}">Contact</a>
            </li>   

          </ul>
          {# SearchTerm for search by state, subtitle, comm or slug #}
          <form class="d-flex" role="search" method="GET" action="{{ path('location.searchTerm') }}">
              <input class="form-control me-3" name="searchTerm" type="search" placeholder="Rechercher" aria-label="Search">
              <button class="btn btn-outline-success me-4" type="submit">Valider</button>
          </form>
        </div>
        
    </div>
  </nav> 