{# Page for create a New video #}

{% extends 'base.html.twig' %}

{% block title %}Formulaire d'édition vidéo :{% endblock %}

{% block body %}
<style>
    h1 {
        margin-bottom: 50px;
    }

    .btn{
        background-color:#65b868;
    }
</style>

<div class="general-div">
    <div class="container mt-4">
        <h1>Créer une vidéo :</h1>

        {{ form_start(form) }}
        <div class="mb-2 row">
            <div class="col-md-6 col-12 mb-3">
                {{ form_row(form.slug) }}
            </div>
            <div class="col-md-6 col-12 mb-3">
                {{ form_row(form.state) }}
            </div>
        </div>

        <div class="mb-2 row">
            <div class="col-md-4 col-12 mb-3">
                {{ form_row(form.duration) }}
            </div>
            <div class="col-md-4 col-12 mb-3">
                {{ form_row(form.category) }}
            </div>
            <div class="col-md-4 col-12 mb-3">
                {{ form_row(form.calendar) }}
            </div>
        </div>

        <div class="mb-2 row">
        {{ form_row(form.thumbnailFile) }}
        </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}