{# Page for update a video #}

{% extends 'base.html.twig' %}

{% block title %}Formulaire de modification vidéo{% endblock %}

{% block body %}
<style>
    h1 {
        margin-bottom: 50px;
    }
</style>

<div class="general-div">
    <div class="container mt-4">
        <h1>Formulaire de modification</h1>

        {{ form_start(form) }}
        <div class="mb-2 row">
            <div class="col-md-6 col-12 mb-3">
                {{ form_row(form.slug) }}
            </div>
            <div class="col-md-6 col-12 mb-3">
                {{ form_row(form.state) }}
            </div>
        </div>

        <div class="mb-2 row">
            <div class="col-md-4 col-12 mb-3">
                {{ form_row(form.duration) }}
            </div>
            <div class="col-md-4 col-12 mb-3">
                {{ form_row(form.category) }}
            </div>
            <div class="col-md-4 col-12 mb-3">
                {{ form_row(form.calendar) }}
            </div>
        </div>

        <div class="mb-2 row">
            <div class="col-md-6 col-12 mb-3">
                {{ form_row(form.thumbnailFile) }}
            </div>
                {% if video.thumbnail %}
            <div class="col-md-6 col-12 mb-3 text-center">
                <p>Image actuelle :</p>
                <img src="{{ asset('Show_Page/Thumbnails/' ~ video.thumbnail) }}" 
                    alt="Thumbnail" 
                    class="img-fluid" 
                    style="max-width: 100px;">
            </div>
                {% endif %}
        </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}