{# Page search result of one or more videos #}

{% extends 'base.html.twig' %}

{% block title %}Résultats de recherche{% endblock %}

{% block body %}

<style>
    h1 {
        margin-bottom: 50px;
    }
    .card{
        transition: all linear 200ms;
    }

    .card:hover{
        transform: scale(1.02);
        transition: all linear 200ms;
        z-index: 1;
        box-shadow: 1px 1px 10px #65b868;
    }

    .card-title{
        display: flex;
        justify-content: center;
        align-items:center;
        margin: 0;
        min-height: 3em;
    }

    .more{
        height: 50vh;
    }
</style>

<div class="general-div">
    <h1>Résultats de recherche pour "{{ searchTerm }}"</h1>
        
         <div class="container">
            <div class="row d-flex flex-wrap justify-content-center">
              {# Boucle foreach videos #}
                {% if Videos is empty %}
                <li class="more">Aucun résultat trouvé.</li>
                {% else %}
                {% for Video in Videos %}
                    <div class="card mx-2 mb-3 col-lg-3 text-bg-dark">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">{{ Video.slug }}</h3>
                            <div class="video-container">
                                <iframe width="100%" height="100%" src="{{ Video.link }}" 
                                    title="YouTube video player" 
                                    frameborder="0" 
                                    allow="accelerometer; 
                                    autoplay; clipboard-write; 
                                    encrypted-media; gyroscope; 
                                    picture-in-picture; web-share" 
                                    referrerpolicy="strict-origin-when-cross-origin" 
                                    allowfullscreen></iframe>
                            </div>
                                <h5 class="my-3">Lieux à voir :</h5>
                                <p class="card-text">{{ Video.subtitle }}</p>
                            <a href="{{ url('location.showId', {slug: Video.slug, id: Video.id}) }}" class="btn mt-auto">Voir cette vidéo</a>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>  
        </div>  
</div>
{% endblock %}