{# Page show one video selected #}

{% extends 'base.html.twig' %}

{% block title %} My_Vlog Vidéo de : {{Video.slug}} {% endblock %}

{% block body %}
<style>
    .video-container {
        display: flex;
        justify-content: center;
    }

    .sub {
        margin-top: 40px;
        font-size: 20px;
        text-align: center;
    }

    .com {
        font-size:17px;
        margin-top: 50px;
        text-align: start;
    }

    .onRight {
        text-align: right;
        margin-top: 20px;
    }

    /* Parallaxe of Show page (comm) */
    /* in twig, we use asset : url('{{ asset('Show_Page/Thumbnails/ {{ Video.thumbnail }}') }}');  */
    /* in css, we can't : url('/Show_Page/Thumbnails/ {{ Video.thumbnail }}'); */
    .container-parallaxe2 {
        background-image: 
            linear-gradient(180deg, transparent 38%, black), /* linear gradient */
            linear-gradient(180deg, black 12%, rgba(13, 16, 25, 0) 72%), /* gradient with transparency */
            radial-gradient(circle farthest-corner at 50% 50%, rgba(6, 7, 10, 0), black 91%), /* radial gradient */
            url('{{ asset('Show_Page/Thumbnails/' ~ Video.thumbnail) }}'); /* background image */
        background-position: 0 0, 0 0, 0 0, 50% 80%;
        background-repeat: repeat, repeat, repeat, no-repeat;
        background-size: auto, auto, auto, cover;
        background-attachment: fixed; /* parallaxe effect*/
        min-height: 100vh;
        padding-top: 50px;
        padding-bottom: 50px;
        color: white;
    }
</style>

<div class="general-div">
   
    <h1> {{ Video.slug }} </h1>

    <div class="sub">
        <p>Lieux marquants à voir : {{ Video.subtitle }} </p>
    </div>

    <div class="video-container my-4"> 
        <iframe width="950" height="650" 
            src=" {{ Video.link }}"
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; 
            autoplay; clipboard-write; 
            encrypted-media; gyroscope; 
            picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
    </div>


 <div class="container container-parallaxe2">
    <div class="com">
        <p>{{ Video.comm | nl2br }} </p>
    </div>

    <p class="onRight"> {{ Video.state }} / {{ Video.calendar|date('d-m-Y') }} </p>

    <a href="{{ path('location.index') }}" class="btn btn-secondary mt-5">Retour à la liste des vidéos</a>
    {# <a href="" id="return-last-page" class="btn btn-secondary mt-5">Retour à la page précédente</a> #}
</div>

    
</div>
{% endblock %}
{# Explication des options :
accelerometer : Autorise l'utilisation de l'accéléromètre de l'appareil (utile pour certaines interactions basées sur le mouvement).
autoplay : Permet la lecture automatique de la vidéo une fois chargée.
clipboard-write : Autorise l'accès à la fonction d'écriture dans le presse-papiers (pour copier du texte, par exemple).
encrypted-media : Permet la lecture de contenu multimédia protégé par DRM (Digital Rights Management).
gyroscope : Autorise l'accès au gyroscope de l'appareil, souvent utilisé pour les applications de réalité augmentée ou d'autres effets basés sur le mouvement.
picture-in-picture : Permet l'affichage de la vidéo en mode Picture-in-Picture (mode où la vidéo s'affiche dans une petite fenêtre flottante sur l'écran).
allowfullscreen : Permet d'afficher la vidéo en plein écran (full-screen mode). #}