{# Page show one video selected #}

{% extends 'base.html.twig' %}

{% block title %} My_Vlog Vidéo de : {{Video.slug}} {% endblock %}

{% block body %}
<style>
    .video-container {
        display: flex;
        justify-content: center;
    }

    .sub {
        margin-top: 40px;
        font-size: 20px;
        text-align: center;
    }

    .com {
        font-size:17px;
        margin-top: 50px;
        text-align: start;
    }

    .onRight {
        text-align: right;
        margin-top: 20px;
    }

    /* Parallaxe of Show page (comm) */
    /* in twig, we use asset : url('{{ asset('Show_Page/Thumbnails/ {{ Video.thumbnail }}') }}');  */
    /* in css, we can't : url('/Show_Page/Thumbnails/ {{ Video.thumbnail }}'); */
    .container-parallaxe2 {
        background-image: 
            linear-gradient(180deg, transparent 38%, black), /* linear gradient */
            linear-gradient(180deg, black 12%, rgba(13, 16, 25, 0) 72%), /* gradient with transparency */
            radial-gradient(circle farthest-corner at 50% 50%, rgba(6, 7, 10, 0), black 91%), /* radial gradient */
            url('{{ asset('Show_Page/Thumbnails/' ~ Video.thumbnail) }}'); /* background image */
        background-position: 0 0, 0 0, 0 0, 50% 80%;
        background-repeat: repeat, repeat, repeat, no-repeat;
        background-size: auto, auto, auto, cover;
        background-attachment: fixed; /* parallaxe effect*/
        min-height: 100vh;
        padding-top: 50px;
        padding-bottom: 50px;
        color: white;
    }

    .pcolor{
        color: #65b868;
    }


    /* Meteo : */
    /* #zone{
    background-color:rgb(154, 228, 239, 0.1);
    width:270px;
    height:100px;
    padding:15px;
    font-size:14px;
    color:black;
    border-radius: 15px;
    box-shadow:4px 4px 4px 3px #3d3d3d;
    margin-bottom:auto;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
}

#zone input{
    margin-left:10px;
}

#zone h4{
    text-align: center;
    font-size:16px;
    font-weight:700;
}

#zone input{
    text-align: center;
}

#zone_meteo{
    font-size:26px;
    font-weight:800;
    text-align: center;
    margin-top:20px;
}

#zone_meteo1{
    font-size:21px;
    font-weight:700;
    text-align: center;
}

.disp{
    display:flex;
    justify-content: space-around;
}

.riri{
    display:flex;
    justify-content: start;
    flex-direction: column;
    margin-top:20px;
    margin-bottom:20px;
    font-weight:600;
}

.riri div{
    margin-top:10px;
}

.lele{
    margin-top:15px;
}

.disp2{
    display:flex;
    justify-content: space-around;
    margin-top:10px;
    font-weight:600;
}

.disp3{
    display:flex;
    justify-content: space-around;
    margin-top:20px;
    font-weight:600;
}

@media screen and (max-width: 500px){
    #zone{
        width:80%;
    }
} */
</style>

<div class="general-div">
   
    <h1> {{ Video.slug }} </h1>

    <div class="sub">
        <p>Lieux marquants à voir : {{ Video.subtitle }} </p>
    </div>

    <div class="video-container my-4"> 
        <iframe width="950" height="650" 
            src=" {{ Video.link }}"
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; 
            autoplay; clipboard-write; 
            encrypted-media; gyroscope; 
            picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
    </div>

{# Meteo : #}
{# <div id="zone">
    <h4>La météo actuelle pour {{ Video.slug }}</h4>
    <div id="zone_meteo"></div>
                <div class="disp">

                    <div class="riri">
                        <div id="zone_meteo1"></div>
                        <div id="zone_meteo2"></div>
                        <div id="zone_meteo4"></div>
                    </div>

                    <div class="lele">
                        <div id="zone_meteo8"></div>
                    </div>
                </div>
            
                <div class="disp2">
                    <div id="zone_meteo6"></div>
                    <div id="zone_meteo7"></div>
                </div>
                <div class="disp3">
                    <div id="zone_meteo5"></div>
                    <div id="zone_meteo3"></div>
                </div> 
</div> #}



 <div class="container container-parallaxe2">
    <div class="com">
        <p>{{ Video.comm | nl2br }} </p>
    </div>

    <p class="onRight"> {{ Video.state }} / {{ Video.calendar|date('d-m-Y') }} </p>

    <p class="onRight">
        <a href="{{ path('app_view_pdf', { id: Video.id }) }}" class="pcolor" data-bs-toggle="tooltip" data-bs-placement="top" title="Voir PDF">
            <i class="btn bi bi-eye"></i>
        </a>
        <a href="{{ path('app_download_pdf', { id: Video.id }) }}" class="pcolor" data-bs-toggle="tooltip" data-bs-placement="top" title="Télécharger PDF">
            <i class="btn bi bi-download"></i>
        </a>
    </p>

    <a href="javascript:void(0);" onclick="window.history.back();" class="btn mt-5" rel="nofollow" aria-label="Retour à la page précédente">Retour à la page précédente</a>

</div>

    
</div>
{% endblock %}
{# Explication des options :
accelerometer : Autorise l'utilisation de l'accéléromètre de l'appareil (utile pour certaines interactions basées sur le mouvement).
autoplay : Permet la lecture automatique de la vidéo une fois chargée.
clipboard-write : Autorise l'accès à la fonction d'écriture dans le presse-papiers (pour copier du texte, par exemple).
encrypted-media : Permet la lecture de contenu multimédia protégé par DRM (Digital Rights Management).
gyroscope : Autorise l'accès au gyroscope de l'appareil, souvent utilisé pour les applications de réalité augmentée ou d'autres effets basés sur le mouvement.
picture-in-picture : Permet l'affichage de la vidéo en mode Picture-in-Picture (mode où la vidéo s'affiche dans une petite fenêtre flottante sur l'écran).
allowfullscreen : Permet d'afficher la vidéo en plein écran (full-screen mode). #}